<div class="glass-card">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum commodi atque laborum doloribus, eaque
        voluptates
        nostrum veniam molestiae aut, inventore, esse eveniet nulla nam? Cum, temporibus fugit aperiam nostrum sed
        expedita
        neque optio dolore animi minima quos vero perferendis qui repellendus. Sapiente, omnis enim aliquid eligendi
        velit,
        ullam harum nemo tempore minima reiciendis, aperiam optio maiores quas quidem ab doloribus aliquam adipisci nam!
        Magnam rem recusandae eum ex nihil exercitationem quisquam suscipit ullam iusto ipsum assumenda, animi
        similique?
        Odio, obcaecati dolore aspernatur animi architecto sit magnam repellat ad. Quia eius alias veniam quam
        consequuntur
        a aliquam quidem sunt neque, minima illo repellendus dolores magnam in.
    </p>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore molestiae mollitia doloribus neque sunt
        obcaecati
        facere in eligendi, rem quaerat vitae unde error nihil. Suscipit accusantium, aliquid vitae sunt aperiam,
        deserunt
        odio enim consequuntur soluta mollitia delectus hic quia cum quisquam culpa pariatur temporibus qui ipsum! Minus
        quas in doloremque aliquid minima tempora, deleniti culpa praesentium voluptatem doloribus officiis itaque
        molestiae, sint recusandae omnis ad quidem. Id, vero odio.
    </p>
</div>