<app-header></app-header>
<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Pokemon
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Pokemon</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="pokemonForm">
            <div class="mb-3">
              <label for="PokemonName" class="form-label">Pokemon Name</label>
              <input type="text" class="form-control" id="PokemonName" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="PokemonAbilities" class="form-label">Speciality</label>
              <input type="text" class="form-control" id="PokemonAbilities" formControlName="speciality">
            </div>
            <div class="mb-3">
              <label class="form-label" for="ImgUrl">Pokemon Image URL</label>
              <input type="text" class="form-control" id="ImgUrl" formControlName="imgUrl">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>