<app-header></app-header>
<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Pokemon
  </button>

  <div *ngIf="isNotificationOn && notification !== null" [ngClass]="{
    'alert alert-dismissible fade show': true,
    'alert-danger': notification.getType() === 'error',
    'alert-success': notification.getType() === 'success'
  }" role="alert">
    <strong>{{ notification.getType() }}!</strong>
    {{ notification.getMessage() }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
      (click)="hideNotification()"></button>
  </div>

  <div *ngIf="allPokemons.length === 0 else pokemonTable">No Pokemon</div>

  <ng-template #pokemonTable>

    <div class="d-flex flex-row flex-wrap">
      <div *ngFor="let pokemon of allPokemons; index as i">
        <app-pokemon-details [pokemon]='allPokemons[i]'></app-pokemon-details>
      </div>
    </div>

  </ng-template>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Pokemon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="addPokemonForm">
        <div class="modal-body">
          <div class="mb-3">
            <label for="PokemonName" class="form-label">Pokemon Name</label>
            <input type="text" class="form-control" id="PokemonName" formControlName="name">
            <div class=" text-center alert alert-danger p-1" *ngIf="Name.invalid && (Name.dirty || Name.touched)">
              <span *ngIf="Name.errors?.['required']">name should not be empty</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="PokemonAbilities" class="form-label">Speciality</label>
            <input type="text" class="form-control" id="PokemonAbilities" formControlName="speciality">
            <div class=" text-center alert alert-danger p-1"
              *ngIf="Speciality.invalid && (Speciality.dirty || Speciality.touched)">
              <span *ngIf="Speciality.errors?.['required']">speciality should not be empty</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="ImgUrl">Pokemon Image URL</label>
            <input type="text" class="form-control" id="ImgUrl" formControlName="imgUrl">
            <div class=" text-center alert alert-danger p-1" *ngIf="Image.invalid && (Image.dirty || Image.touched)">
              <span *ngIf="Image.errors?.['required']">Image URL should not be empty</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" [disabled]="addPokemonForm.invalid" (click)="savePokemon()" data-bs-dismiss="modal"
            class="btn btn-primary">Save
            changes</button>
        </div>
      </form>
    </div>
  </div>
</div>